@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.background {
  background-image: url("https://images.unsplash.com/photo-1556745757-8d76bdb6984b");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  filter: blur(20px);
  z-index: -1;
}
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.background {
  background-image: url("https://images.unsplash.com/photo-1494515426402-f1980ace7a9c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  filter: blur(20px);
  z-index: -1;
}

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem;
  border-radius: 10px;
}
